@media (max-width: 800px) {
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu .ham-bar:nth-child(2) {
    opacity: 0;
  }
  .nav-ul {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: transparent;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .nav-li {
    margin: 16px 0;
  }
  .nav-ul.active {
    left: 0;
  }
  .a-item {
    color: black;
  }
}

@media (max-width: 1280px) {
  .georgian-poetry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .culture-slide {
    display: none;
  }
  .main-slide {
    height: 700px;
    width: 900px;
  }
}
@media (max-width: 1024px) {
  .container-block {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media (max-width: 1125px) {
  .footer-row {
    width: 900px;
  }
}
@media (max-width: 920px) {
  .ab-us {
    width: 200px;
    height: 130px;
  }
}

@media (max-width: 768px) {
  .container-block {
    display: block;
    margin: 35px 160px;
  }
  .georgia-img {
    margin: 25px;
    width: 400px;
    height: 300px;
  }
  .left-block {
    width: 450px;
  }
  .georgian-poetry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social-icons {
    display: none;
    font-size: 360px;
  }
  .foot-text {
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  body {
    background-color: whitesmoke;
  }
  form {
    width: 600px;
  }
  .welcome {
    text-align: justify;
    margin-left: 200px;
  }
  .foot-contact {
    display: none;
  }
  .ab-us {
    width: 400px;
  }
}
@media (max-width: 900px) {
  .office {
    display: none;
  }
  .slide-image {
    -webkit-filter: none;
            filter: none;
  }
  .image-data {
    display: none;
  }
  .main-slide {
    height: 500px;
    width: 600px;
  }

}

@media (max-width: 600px) {
  .georgian-poetry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    height: 700px;
  }
}
@media (max-width: 625px) {
    .main-slide {
        height: 300px;
        width: 400px;
      }
}